body{
    display: flex;
    font-family: "Outfit";
    flex-direction: column;
    background-color: hsl(30, 54%, 90%);
    justify-content: center;
    
    align-items: center;
}
.kcal{
    font-family: "Outfit";
    font-weight: 600
}
h1,h2{
    font-family: "Young Serif";
}
#container{
    background-color: hsl(0, 0%, 100%);
    max-width:650px;
    width: 90%;
    padding:32px;
    border-radius:15px ;
    display: flex;
    flex-direction: column;
}
img{
    max-width:580px;
    width: auto;
    height: max-content;
}
#preparation{
    background-color: hsl(330, 100%, 98%);
    padding:3px 10px;
    border-radius: 4px;
}
#prep{
    color:hsl(332, 51%, 32%);font-size: 20px;
}
.bold{
    font-weight:600;
}
li{
    margin:5px;
}

.kcal,h2{
    color:hsl(14, 45%, 36%);
}

#nutri div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@font-face {
font-family: "Outfit";
src: url("recipe-page-main\assets\fonts\outfit\static\Outfit-Light.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Outfit-Medium";
src: url("recipe-page-main\assets\fonts\outfit\static\Outfit-Medium.ttf") format("truetype");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: "Outfit";
src: url("recipe-page-main\assets\fonts\outfit\static\Outfit-Bold.ttf") format("truetype");
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: "Young Serif";
src: url('recipe-page-main\assets\fonts\young-serif\YoungSerif-Regular.ttf') format("truetype");
font-weight: 400;
font-style: normal;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
